body{
    background: #BDBDBD;
}
.tagline{
    background-image: url("../img/bg.jpg");
    width: 100%;
    background-repeat: no-repeat;
    height: 1100px;
}
.text{
    margin-top: 200px;
    text-align: center;
}
.text-1{
    font-size: 110px;
}
.text-2{
    font-size:90px;
}
.card{
    border:none;
    background: #BDBDBD;
}