<!-- your html code here -->

<div class="container-fluid mt-5">
    <div class="row d-flex"> 
       
        <div class="  col-7 offset-1 bd-highlight">
            <h3>This First Heading<span class="text-secondary"> Will Cath Your Eyes</span></h3>
            <p class="txt-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more </p>
        </div>
        <div class=" col-3  p-6 bd-highlight">
            <img  style="width:350px ; height:350px" src="./assets/img/1.jpg" class="img-fluid rounded-circle" alt ="foto">
        </div>
    </div>
</div>